spring:
  application:
    name: notification-service
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      "[mail.smtp.connectiontimeout]": 5000
      "[mail.smtp.timeout]": 3000
      "[mail.smtp.writetimeout]": 5000
      mail:
        smtp:
          auth: true
          starttls.enable: true
          starttls.required: true
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: notification-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"